@charset "utf-8";
/* CSS Document */
#sayfahakkimizda
{
	color: #030;
	min-width: 1350px;
	left: 34px;
	top: 3px;
	
}
#hakkimizdaicerik
{
	text-align:center;
	min-width: 1000px;
	margin: auto;
	width: 1000px;	/*margin-right: 100px;
	margin-left: 100px;*/
	
}
