@charset "utf-8";
/* CSS Document */

#sayfarandevu
{
	
	min-width: 1350px;
	left: 34px;
	top: 3px;
	
}
#icerikrandevu
{
	
	min-width: 1000px;
	margin: auto;
	width: 1000px;	/*margin-right: 100px;
	margin-left: 100px;*/
	
}
#formsekil
{
	font-size: 20px;
	font-weight: bold;
	color: #000;

}
.txt
{
	height: 25px;
	width: 250px;
	font-size: 20px;
	font-weight: bold;
	border-radius: 10px;
}
.btn
{
	border-radius: 10px;
	font-size: 24px;
	font-weight: bold;
	color: #000;
	height: auto;
	width: 200px;
	background-color:#CCC;
	
}
.rst
{
	border-radius: 10px;
	font-size: 24px;
	font-weight: bold;
	color: #000;
	height: auto;
	width: 200px;
	background-color:#CCC;
}

