@charset "utf-8";
/* CSS Document */

*
{
	padding:0;
	margin:0;
}
#kapsul
{
	min-width: 1350px;
	
}

#header{
	min-width: 1000px;
	background-color: #E2E3E7;
	height: 150px;
	margin: auto;
	width: 1000px;
	}

#content{
	min-width: 1000px;
	margin: auto;
	width: 1000px;	/*margin-right: 100px;
	margin-left: 100px;*/
	
	
	}
#footer{
	padding-bottom: 0px;
	
	
	background-color: #999;
	height: 50px;
	/*width: 1350px; genişliği vermedikme   ekranı tam kaplar*/
	margin: auto;
	position:relative;/*Ortala   yapar*/
	
	}

.headerusttablo
{
	background-color:#EAEAFF;
}
.headerortatablo
{
	background-color:#CFC;
	
}
.headeralttablo
{
	background-color:#D2D2FF;
}
body
{
	background-color:#E2E3E7;
}
.yonetimyazi
{
	color:#009;
	font-size:24px;
}

.link
{
	text-decoration:none;
	color:#000;
	font-weight: bold;
	font-size:15px;
}
